<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AirCombat_game_center</title>
        <link href="../stylesheets/game.css" rel="stylesheet" type="text/css">
    </head>
    <body background="../img/index_bg.jpg">
        <div id="container"></div>

        <div id="userinfo">
            <div class="info1">*** <%= user.name %> ***  
                <span id="username"><a href="/logout">Sign out</a></span>
            </div>
        </div>

        <div id="start_page" style="display: none">
            <div id="start">
                <img id="start_button" src="../img/start_game.png">
            </div>
        </div>

        <div id="main">
            <div id="topinfo">
                <div id="top_left">
                    <img id="max_score_icon" src="../img/highest_score.png"> <br/><br/>
                    
                    <div id="max_score">
                        <img id="max_socre_number" src="../img/0.png">
                    </div>

                </div>

                <div id="score">
                        <img id="score_icon" src="../img/score.png"> <br/><br/>

                    <img id="score_number" src="../img/0.png">
                </div>
            </div>

            <div id="bottominfo">
                <div id="hp_view">
                    <img id="hp_img" src="../img/health_icon.png">
                    <div id="hp_box">
                        <div id="current_hp" style="width: 200px"></div>
                    </div>
                </div>

                <div id="tools">
                    <img id="restart" src="../img/restart.png">
                    <img id="pause" src="../img/pause.png">
                </div>
            </div>    
            
        </div>

        <div id="game_over" style="display: none">
            
        </div>
    </body>
</html>


