<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>AirCombat_beta</title>
		<link href="../stylesheets/game.css" rel="stylesheet" type="text/css">
	</head>
	
	<body background="../img/index_bg.jpg">
		<div id="start_page">
			<img id="start" src="../img/start.png"/>
		</div>
		
		<div id="battleground">
		</div>
		
		<div id="main">
			<div id="topinfo">
				<div id="max">
					<img id="max_score_icon" src="../img/highest_score.png"/><br/><br/><br/>
					<div id="max_score">
					</div>
				</div>
				<div id="paused">
				</div>
				<img id="score_icon" src="../img/score.png"><br/><br/>
				<div id="score">
				</div>	
			</div>

			<div id="botinfo">
				<div id="hp_view">
					<img id="hp_icon" src="../img/health_icon.png"/>
					<div id="user_hp_view">
						<div id="current_hp">
						</div>
					</div>
				</div>
			</div>
		</div>

		<img id="damage" src="../img/damage.png"/>

		<div id="game_over">
			<div id="over_title"><img id="over_titleImg_0" src="../img/nice_try.png"/></div>
			<div id="over_score"></div>
			<div id="restart">
				<img src="../img/restart.png"/>
			</div>
		</div>
		<input type="button" name="" id="consoleGame" value="PLAY"/>
		<script src="../javascripts/game.js" type="text/javascript" charset="utf-8"></script>
		<script src="../javascripts/cookie.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
