<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;" charset="utf-8">
    <title>AirCombat</title>
    <link href="../stylesheets/index.css" rel="stylesheet" type="text/css" />
</head>
</script>


<body background="../img/index_bg.jpg">
    <!--div class = "div1"-->
    <form action="" method="GET" id="register">
        <div align="center">
            <img src = "../img/index_logo.png" class="logo">
        </div>
    </form>
        <div>
        <input type="button" id="btn1" class="login" value="Sign in" onclick="javascript:window.location.href='/login'" />
        <input type="button" id="btn2" class="login" value="Sign up" onclick="javascript:window.location.href='/regis'" />
        </div>
        <div align="center">
        <input type="button" id="submit" class="enter" value="Play Game" onclick="javascript:window.location.href='/homepage'" />
        </div>
    <!--/div-->
</body>
</html>
