<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;" charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>AirCombat</title>
    <link href="../stylesheets/index.css" rel="stylesheet" type="text/css" />
</head>
</script>


<body>
    <!--div class = "div1"-->
    <form action="" method="GET" id="register">
        <div align="center">
            <img src = "../img/index_logo.png" class="logo">
        </div>
    </form>
        <div>
            <img src = "../img/signin.png" id="btn1" class="login" onclick="javascript:window.location.href='/login'">
        </div>
            <img src = "../img/signup.png" id="btn2" class="login" onclick="javascript:window.location.href='/regis'">
        </div>
        </div>
        <div align="center">
            <img src = "../img/play.png" id="submit" class="enter" onclick="javascript:window.location.href='/homepage'">
        </div>
        </div>
    <!--/div-->
</body>
</html>
