<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Register-AirCombat</title>
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
    <!--overwrite css format of bootstrap-->
    <style type="text/css">
        .tc{text-align: center;
            font-size: 30px;
            font-weight: 600;}
        .col-center-block {
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .col-sm-offset-10 {
            margin-left: 0;
        }
        .col-sm-2 {
            width: 100%;
        }
        .container {
            width: 100%;
            margin-top: 250px;
        }
        </style>
</head>
<body background="../img/index_bg.jpg">
	<div class="container">
	<form class="col-sm-offset-4 col-sm-4 form-horizontal" role="form" method="post" onsubmit="return false">
	<fieldset>
		<div class="panel panel-default>
		<div class="panel-heading">
                    <p class="tc">Register</p>
                </div>
                <div class="panel-body m15">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-user"></span>
                        </span>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Input username" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        <input type="password" class="form-control" id="password1" name="password1" placeholder="Input password" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        <input type="password" class="form-control" id="password2" name="password2" placeholder="Input password again" required>
                    </div>
                </div>
                <div class="form-group">
                        <button type="button" class="btn btn-primary btn-block" id="register">Reigster</button>
                </div>
                <div class="form-group">
                        <button type="button" class="btn btn-info col-sm-2 col-sm-offset-10" id="login">Login</button>
                </div>
                </div>
                </div>
            </fieldset>
        </form>
    </div>
    <script src="../javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
    <script type="text/javascript" >
        $(function(){
            $('#login').click(function(){
                location.href='login';
            })
            $('#register').click(function(){
                var username=$('#username').val();
                var password1=$('#password1').val();
                var password2=$('#password2').val();
                var data={'username':username,'password':password1};

                var regLetter = /[a-zA-Z]+/;
    
                if(!username) {
                    alert("Empty username not allowed!");
                }
                else if(username.length < 6 || password1.length < 6) {
                    alert("The length of username/password should be longer than 6!");
                }
                else if(regLetter.test(username) || regLetter.test(password1)) {
                    alert("Username/Password should contain at least one letter!");
                }
                else if(password1!==password2){
                    alert("Password does not match!");
                }
                else {
                    $.ajax({
                        url:'/regis',
                        type:'post',
                        data:data,
                        success:function(data,status){
                            if(status=='success'){
                                alert("success! Now directing to login page");
                                location.href='login';
                            }
                        },
                        error:function(data,err){
                            alert("error");
                            location.href='regis';
                        }
                    })    
                }
            })
        });
    </script>
</body>
</html>
