html {
    width: 100%;
    height: 100%;
    margin: 0%;
}

body {
    background: url("../img/index_bg.jpg");
    width: 100%;
    height: 100%;
    margin: 0%;
}

#start{
    display: none;
    width: 200px;
    margin-top: 350px;
    margin-left: 275px;
}

#restart {
    display: none;
    width: 400px;
    margin: 80px auto;
}

#start_page{
    text-align: center;
    float: right;
    width: 750px;
    height: 950px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: url('../img/start_page.png');
    background-repeat: repeat-y;
    z-index: 3;
}

#load_box {
	width: 400px;
	height: 30px;
	float: left;
	border: 3px solid;
	position: absolute;
	margin-top: 600px;
	margin-left: 175px;
	background : #fcfbfb;
}

#load_progress {
    width: 0px;
    height: 30px;
    background: #650dd8;
    margin-top: -46px;
}

#load_text {
    display: block;
}

#battleground {
    width: 750px;
    height: 950px;
    background: url(../img/scenes/sky.jpg) repeat-y;
    margin:auto;
    background-position: 0 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    z-index: 1;
    overflow: hidden;
}

#main{
    width: 750px;
    height: 950px;
    margin:auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    z-index: 1;
}

#paused{
    z-index: 2;
    float: right;
    width: 750px;
    height: 950px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    overflow: hidden;
}

#damage{
    width: 750px;
    height: 950px;
    margin:auto;
    position: absolute;
    margin: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    display: none;
}

#game_over{
    z-index: 2;
    float: right;
    width: 750px;
    height: 950px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    overflow: hidden;
}

#score{
    float: right;
    margin-top: 10px;
}

#score_icon {
    float: right;
    width: 80px;
    height: 30px;
}
            
#score img{
    float: left;
    width: 20px;
    display: block;
}

#topinfo{
    display: none;
    overflow: hidden;
    width: inherit;
}

#max{
    overflow: hidden;
    float: left;
    width: 200px;
    padding-left: 12px; 
}

#max_score_icon{
    float: left;
    width: 170px;
    height: 51px;
}

#max_score img{
    width: 20px;
}

#hp_view{
    float: left;
    width: 220px;
    overflow: hidden;
    padding-left: 10px;
}

#hp_icon{
    width: 40px;float: left;margin: 10px 10px 0 0;
}

#user_hp_view{
    float: left;
    width: 150px;
    height: 20px;
    border: 2px solid #ff0000;
    margin-top: 20px;
}

#current_hp{
    width: 150px;
    height: 20px;
    background: #ff0000;
}

#over_title {
    text-align: center;
    width: 750px;
    margin: 150px auto 0;
}
            
#over_title img {
    width: 300px;
    margin: auto;
}
            
#over_score {
    width: 750px;
    text-align: center;
    margin: 50px auto 0;
}
            
#over_score img {
    height: 50px;
}
            
#over_titleImg_0 {
    display: none;
}
            
#over_titleImg_1 {
    display: none;
}

#botinfo { /* div which contains user's hp(left) and pause, restart buttons(right) */
    display: none;
    overflow: hidden;
    width: inherit;
    height: 80px;
    padding-top: 800px;
}

			