html,body {
    height: 100%;
    margin: 0%;
}

body {
    margin: 0%;
}

.info1 {
    float: left;
    font-size: 20px;
    color: white;
}


#userinfo {
    margin-right: inherit;
    display: inline-block;
    position: absolute;
    right: 10px;
    height: 5%;
}

#container {
    width: 20%;
    float: left;
}

#start_page {
    text-align: center;
    float: right;
    width: 750px;
    height: 950px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: url('../img/nm$L.png');
    background-repeat: repeat-y;
    z-index: 3;
}

#start {
    margin-top: 600px;
}

#main { /* game main */
    text-align: center;
    float: right;
    width: 750px;
    height: 950px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /* background: url('../img/volcano_1.png'); */
    background: url('../img/scenes/sky.jpg');
    background-repeat: repeat-y;
    z-index: 1;
}

#topinfo { /* div which contains user's max score(left) and real-time score of this game(right) */
    overflow: hidden;
    width: inherit;
    border: 1px solid #000;
}

#top_left {
    padding-left: 10px;
    float: left;
    width: 150px;
}

#max_score_icon {
    float: left;
    margin-top: 10px;
    width: 200px;
    height: 30px;
}

#max_score {
    float: left;
   /* display: block; */
  /* margin-top: 5px;*/
   margin-left: 15px;
   margin-bottom: 10px;
}

#max_socre_number {
    float: left;
    margin-top: 10px;
    width: 20px;
}

#score_icon {
    float: right;
    width: 80px;
    height: 30px;
}

#score {
    float: right;
    margin-top: 10px;
}

#score_number{
    float: right;
    width: 20px;
    margin-right: 30px;
}

#bottominfo { /* div which contains user's hp(left) and pause, restart buttons(right) */
    overflow: hidden;
    width: inherit;
    height: 80px;
    margin-top: 795px;
    border: 1px solid #000;
}

#hp_view { /* user's hp */
    float: left;
    width: 220px;
    overflow: hidden;
    padding-left: 10px;
}

#hp_img {
    float: left;
    width: 55px;
    margin-top: 7px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#hp_box {
    float: left;
    width: 150px;
    height: 20px;
    border: 2px solid #ff0000;
    margin-top: 20px;
}

#current_hp {
    width: 150px;
    height: 20px;
    background: #ff0000;
}

#tools {
    float: right;
    width: 150px;
    overflow: hidden;
    padding-right: 10px;
}

#pause {
    float: right;
    width: 50px;
    margin-right: 20px;
    margin-top: 7px;
}

#restart {
    float: right;
    width: 50px;
    margin-top:7px;
}

#game_over {
    z-index: 2;
    float: right;
    width: 750px;
    height: 950px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0, 0, 0, 0.6);
}
